/*
	Frequency by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/
/* Basic */
html, body {
  min-width: 320px;
}

body, input, select, textarea {
  font-size: 11pt;
}

/* List */
ul.actions {
  margin: 0 0 2em 0;
}
ul.actions li {
  display: block;
  padding: 1em 0 0 0;
  text-align: center;
  width: 100%;
}
ul.actions li:first-child {
  padding-top: 0;
}
ul.actions li > * {
  margin: 0 !important;
  width: 100%;
}
ul.actions li > *.icon:before {
  margin-left: -2em;
}
ul.actions.small li {
  padding: 0.5em 0 0 0;
}
ul.actions.small li:first-child {
  padding-top: 0;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  padding: 0;
}

/* Box */
.box.big {
  padding: 2em 1em 0.1em 1em;
}
.box.big header.major {
  padding: 1em 1em 1em;
}

/* Wrapper */
.wrapper {
  padding: 3em 0 1em 0;
}
.wrapper.style1 .box.alt header.major {
  padding: 3em 1em 1em 1em;
}
.wrapper.style3 {
  padding: 3em 0 1em 0;
}

/* Banner */
#banner p {
  font-size: 1.25em;
}

/* Footer */
#footer .footer-info {
  text-align: left;
}
