<!DOCTYPE html>
<html lang="en" ng-app="mmh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Socialivo</title>
        <meta property="og:description" content="">
        <!-- CSS  -->
        <link href="newdesign/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/joyride-2.1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--        <link href="newdesign/css/joyride-mobile.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/joyride-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
        <!--  Scripts-->
        <script src="newdesign/js/jquery-2.1.1.min.js"></script>
        <script src="newdesign/js/materialize.min.js"></script>
        <script src="js/moment-with-locales.js"></script>
        <script src="newdesign/js/bootstrap-datetimepicker.js"></script>
        <script src="newdesign/js/jquery.selectBox.js"></script>
        <script src="newdesign/js/prism.js"></script>
        <script src="newdesign/js/init.js"></script>
        <script src="newdesign/js/jquery.cookie.js"></script>
        <script src="newdesign/js/jquery.joyride-2.1.js"></script>
        <script src="newdesign/js/modernizr.mq.js"></script>

        <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
        <script src="js/lodash.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.js"></script>
        <script src="js/rsvp.js"></script>
        <script src="js/geofire.js"></script>
        <script src="js/angular-materialize.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>

        <script src="js/app.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/directives/dateTimePicker.js"></script>
        <script src="js/app/directives/localMeetings.js"></script>
        <script src="js/app/directives/starsRating.js"></script>
        <script src="js/app/directives/header.js"></script>
        <script src="js/app/directives/footer.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/services/appConfig.js"></script>
        <script src="js/app/services/dataProvider.js"></script>
        <script src="js/app/services/dialogs.js"></script>
        <script src="js/app/services/geoLocation.js"></script>
        <script src="js/app/services/localMeeting.js"></script>
        <script src="js/app/services/meetingInfo.js"></script>
        <script src="js/app/services/meeting.js"></script>
        <script src="js/app/services/modal.js"></script>
        <script src="js/app/services/user.js"></script>
        <script src="js/app/filters/customFilters.js"></script>
        <script src="js/app/services/session.js"></script>
        <script src="js/app/services/userGroupBuilder.js"></script>
        <script src="js/app/services/util.js"></script>
        <script src="js/app/services/notification.js"></script>
        <script src="js/app/services/email.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/controllers/authModal.js"></script>
        <script src="js/app/controllers/locationMap.js"></script>
        <script src="js/app/controllers/userAccount.js"></script>
        <script src="js/app/controllers/userMeetingPlaces.js"></script>
        <script src="js/app/controllers/userMeetingTimes.js"></script>
        <script src="js/app/controllers/snippet.js"></script>
        <script src="js/app/controllers/meeting.js"></script>
    </head>
<body>
    <div id="google-tag" ng-controller="Snippet">
        <div ng-bind-html="getGoogleTag()"></div>
        <div ng-bind-html="getFacebookSDK()"></div>
        <div ng-bind-html="getTwitterSDK()"></div>
    </div>
    <div id="container"  ng-controller="meetingController">
        <header>
            <topnav></topnav>
            <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li ng-class="currentPage == 1 ? 'active' : ''" id="home"><a href="index.html" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
                <li ng-class="currentPage == 3 ? 'active' : ''" id="new_meet"><a href="create_new_activity.html" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Activity</a></li>
                <!--<li id="meet_me_here"><a href="meet_me_here.html" class="waves-effect waves-ripple"><span class="icon icon-history"></span>Meet Me Here</a></li>-->
                <li ng-class="currentPage == 2 ? 'active' : ''" id="meet" ><a class="waves-effect waves-ripple" ng-click="currentPage = 2"><span class="icon icon-invite"></span>Activities</a>
                    <ul class="subtab-left">
                        <li ng-repeat="meeting in meetingList"  ng-class="(meeting.id == currentMeetingId) ? 'active' : ''">
                            <a ng-href="{{'/activity.html?act=' + meeting.id}}" class="waves-effect waves-ripple active">
                                <i class="fa fa fa-angle-right"></i>
                                {{getMeetingName(meeting, false)}}
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </header><!--//header-->
        <div id="contents">
            <div class="row contents">
                <div id="contLeft" class="col l8 s12">
                    <div class="box-meeting">
                        <h2 class="title-page"><span class="icon"></span>{{ getMeetingName(meeting, true) }}</h2>
                        <div class="wrap">
                            <div class="choose-setting" ng-if="usersInfo.current">
                                <div class="share" ng-if="usersInfo.current">
                                    <div class="fb-share-button fb_iframe_widget" data-href="{{ getFacebookSharingUrl() }}" data-layout="button"></div>
                                    <div class="twitter-share">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{getShareEmailSubject()}}" data-url="{{ getSharingUrl() }}" data-count="none">Tweet</a>
                                    </div>
                                    <div class="email-share">
                                        <a href="mailto:?subject={{getShareEmailSubject() | escape}}&body={{getShareEmailBody() | escape}}" title="Send an email"><img src="newdesign/image/icon-m.gif" alt="Send an email"></a>
                                    </div>
                                    <textarea class="link" id="sharing_url" style="display:none;">{{ getSharingUrl() }}</textarea>
                                    <a class="btn waves-effect waves-light" ng-click="copy()">Copy link</a>
                                </div>
                                <div class="member">
                                    <div class="thumb"><img ng-src="{{ usersInfo.current.user.getProfileImageURL() }}" alt=""></div>
                                    <p><b>{{ usersInfo.current.user.user.fullName }}</b><br>
                                        <b>Your Location:</b> {{ usersInfo.current.user.getLocationName() }} (<a ng-click="changeLocation()">change</a>)</p>
                                </div>
                                <div class="box-gray">
                                    <p>Places?</p>
                                    <div class="box-white white">
                                        <ul class="choose-list">
                                            <li ng-class="where.selected ? 'selected' : ''" ng-repeat="where in usersInfo.current.where" ng-click="togglePlace(where)">
                                                <a class="icon" title="Delete">Delete</a>
                                                {{ where.name }}
                                            </li>
                                            <li class="forbtn"><a class="btn btn-add waves-effect waves-light add-places" ng-click="addPlaces()"><i class="icon"></i> Add</a></li>
                                        </ul>
                                    </div>
                                    <p>Times?</p>
                                    <div class="box-white white">
                                        <ul class="choose-list">
                                            <li ng-class="when.selected ? 'selected' : ''" ng-repeat="when in usersInfo.current.when" ng-click="toggleTime(when)">
                                                <a class="icon" title="Delete">Delete</a>
                                                {{ when.whenFormatted }}
                                            </li>
                                            <li class="forbtn"><a class="btn btn-add waves-effect waves-light add-times" ng-click="addTimes()"><i class="icon"></i> Add</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="group" ng-if="userGroups.groups.length">
                                <h3 class="title suitable-groups">These groups match your indicated preferences. Click on the RSVP button to confirm the one you will be attending:</h3>
                                <div class="box-gray">
                                    <div class="block" ng-repeat="group in userGroups.groups">
                                        <h4 class="location">
                                            <span class="icon"></span>
                                            <span class="subtext">At:</span> {{ group.where.name }} {{getMeetingLocation(group.where)}}
                                        </h4>
                                        <div class="box-white white">
                                            <span class="time">Start: <b class="red-text">{{ group.when.formatted }}</b></span>
                                            <a class="btn waves-effect waves-light" ng-click="joinGroup(group)">{{ group.hasJoined(currentUser.id) ? 'Leave' : 'RSVP' }}</a>
                                        </div>
                                        <p>{{ group.users.length }} people have chosen:</p>
                                        <ul class="have-chosen">
                                            <li class="memberLabel" ng-class="group.hasJoined(user.user.id) ? 'cfrmed' : 'not-cfrm'" ng-repeat="user in group.users">
                                                <i class="icon"></i>{{ user.user.fullName }} <span ng-if="needsGroupUserDetails(userGroups, user)">(you)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="group" ng-if="!userGroups.groups.length">
                                <h3 class="title suitable-groups">These groups match your indicated preferences. Click on the RSVP button to confirm the one you will be attending:</h3>
								<div class="box-gray">
									<div class="box-white white"><strong>No available group! Please add more <a ng-click="addTimes()">times</a> and <a ng-click="addPlaces()">places</a>, or invite more friends</strong></div>
								</div>
                                <h3 class="title"></h3>
                            </div>
                            <div class="other-member">
                                <h3 class="title">
                                    <span ng-show="usersInfo.count == 1">1 person is helping to plan this activity</span>
                                    <span ng-show="usersInfo.count > 1">{{ usersInfo.count }} people are helping to plan this activity:</span>
                                </h3>
                                <ul class="list">
									<li ng-repeat="(userId, userInfo) in usersInfo.all">
										<div class="thumb"><img ng-src="{{ userInfo.user.getProfileImageURL() }}"></div>
										<p><b>{{ userInfo.user.user.fullName }}</b></p>
										<p class="subtext">{{ userInfo.user.getLocationName() }}</p>
									</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contRight" class="col l4 s12">
                    <local-meetings location="currentUser.user.location.coords" radius="currentUser.user.location.radius" exclude-meeting="{{ meeting.id }}" count="3"></local-meetings>
                </div>
            </div>
        </div><!--//contents-->
        <footer class="page-footer white"></footer><!--//footer-->
    </div>
    <!-- Tip Content -->
    <ol id="joyRideTipContent">
        <li data-id="logo" data-text="Next" class="custom" data-options="tipLocation:bottom;tipAnimation:pop">
            <h2>Feature tour</h2>
            <p>This is the Socialivo tutorial. You can close this modal to ignore this step, Or click "Next" to continue...</p>
        </li>
        <li data-id="home" data-text="Next" class="custom" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Homepage</h2>
            <p>"Home" navigation to return to homepage</p>
        </li>
        <li data-id="new_meet" data-text="Next" class="custom mb-menu-create" data-options="tipLocation:right;tipAnimation:pop">
            <h2>New meeting</h2>
            <p>Create new meeting</p>
        </li>
<!--        <li data-id="meet_me_here" data-text="Next" class="custom mb-menu-create" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Meet me here</h2>
            <p>Create a new meeting in 1 hour later & at current establishment</p>
        </li>-->
        <li data-id="meet" data-text="Next" class="custom mb-menu-create" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Meeting page</h2>
            <p>List of your participated meeting</p>
        </li>
        <li data-class="notification-icon" class="mb-alert" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Show the list of notification</p>
        </li>
        <li data-class="account" class="mb-user" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Manage your profile (login/logout/View feature tour)</p>
        </li>
        <li data-class="add-places" data-button="Next" class="mb-meeting-add" data-options="tipLocation:bottom;ipAnimation:pop">
            <p>Suggest your favourite places</p>
        </li>
        <li data-class="add-times" data-button="Next" class="mb-meeting-add" data-options="tipLocation:bottom;ipAnimation:pop">
            <p>Choose your appropriate times</p>
        </li>
        <li data-class="suitable-groups" data-button="Next" class="mb-what-do" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Available groups to RSVP or LEAVE</p>
        </li>
        <li data-class="jump-in" data-button="Next" class="mb-meeting-jumin" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click "Jump-In" to meet new friends at local positions</p>
        </li>
        <li data-class="share" data-button="Close" class="last-tip mb-btn-next" data-options="tipLocation:top;ipAnimation:fade">
            <p>Share with your friends in multiple methods. Ready to start?</p>
        </li>
    </ol>
</body>
</html>
