<!DOCTYPE html>
<html lang="en" ng-app="mmh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Socialivo</title>
        <meta property="og:description" content="">
        <!-- CSS  -->
        <link href="newdesign/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/joyride-2.1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--  Scripts-->
        <script src="newdesign/js/jquery-2.1.1.min.js"></script>
        <script src="newdesign/js/materialize.min.js"></script>
        <script src="js/moment-with-locales.js"></script>
        <script src="newdesign/js/bootstrap-datetimepicker.js"></script>
        <script src="newdesign/js/jquery.selectBox.js"></script>
        <script src="newdesign/js/prism.js"></script>
        <script src="newdesign/js/init.js"></script>
        <script src="newdesign/js/jquery.cookie.js"></script>
        <script src="newdesign/js/jquery.joyride-2.1.js"></script>
        <script src="newdesign/js/modernizr.mq.js"></script>

        <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
        <script src="js/lodash.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.js"></script>
        <script src="js/rsvp.js"></script>
        <script src="js/geofire.js"></script>
        <script src="js/angular-materialize.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>

        <script src="js/app.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/directives/dateTimePicker.js"></script>
        <script src="js/app/directives/localMeetings.js"></script>
        <script src="js/app/directives/starsRating.js"></script>
        <script src="js/app/directives/header.js"></script>
        <script src="js/app/directives/footer.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/services/appConfig.js"></script>
        <script src="js/app/services/dataProvider.js"></script>
        <script src="js/app/services/dialogs.js"></script>
        <script src="js/app/services/geoLocation.js"></script>
        <script src="js/app/services/localMeeting.js"></script>
        <script src="js/app/services/meetingInfo.js"></script>
        <script src="js/app/services/meeting.js"></script>
        <script src="js/app/services/modal.js"></script>
        <script src="js/app/services/user.js"></script>
        <script src="js/app/services/history.js"></script>
        <script src="js/app/filters/customFilters.js"></script>
        <script src="js/app/services/session.js"></script>
        <script src="js/app/services/userGroupBuilder.js"></script>
        <script src="js/app/services/util.js"></script>
        <script src="js/app/services/category.js"></script>
        <script src="js/app/services/notification.js"></script>
        <script src="js/app/services/email.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/controllers/authModal.js"></script>
        <script src="js/app/controllers/locationMap.js"></script>
        <script src="js/app/controllers/userAccount.js"></script>
        <script src="js/app/controllers/userMeetingPlaces.js"></script>
        <script src="js/app/controllers/userMeetingTimes.js"></script>
        <script src="js/app/controllers/snippet.js"></script>
        <script src="js/app/controllers/meeting.js"></script>
    </head>
<body>
    <div id="google-tag" ng-controller="Snippet">
        <div ng-bind-html="getGoogleTag()"></div>
        <div ng-bind-html="getTwitterSDK()"></div>
    </div>
    <div id="container"  ng-controller="meetingController">
        <header>
            <topnav></topnav>
            <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li ng-class="currentPage == 1 ? 'active' : ''" id="home"><a href="index.html" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
                <li ng-class="currentPage == 3 ? 'active' : ''" id="new_meet"><a href="create_new_activity.html" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Activity</a></li>
                <li ng-class="currentPage == 4 ? 'active' : ''"id="meet_me_here"><a href="meet_me_here.html" class="waves-effect waves-ripple"><span class="icon icon-history"></span>Meet Me Here</a></li>
                <li ng-class="currentPage == 2 ? 'active' : ''" id="meet" ><a class="waves-effect waves-ripple" ng-click="currentPage = 2"><span class="icon icon-invite"></span>Activities</a>
                    <ul class="subtab-left">
                        <li ng-repeat="meeting in meetingList"  ng-class="(meeting.id == currentMeetingId) ? 'active' : ''">
                            <a ng-href="{{'/activity.html?act=' + meeting.id}}" class="waves-effect waves-ripple active">
                                <i class="fa fa fa-angle-right"></i>
                                {{getMeetingName(meeting, false)}}
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </header><!--//header-->
        <div id="contents">
            <div class="row contents">
                <div id="contLeft" class="col l8 s12">
                    <div class="box-meeting" ng-if="ended">
                        <div class="left"><h2 style="font-size: 28px;padding-left: 20px;font-weight: 500;"><span class="icon"></span>This activity has passed.</h2></div>
                        <div class="right" style="padding: 20px;"><a class="btn red waves-effect waves-light right" ng-click="createFromTemplate()">Create new activity</a></div>
                    </div>
                    <div class="box-meeting">
                        <h2 class="title-page"><span class="icon"></span>{{ getMeetingName(meeting, true) }}</h2>
                        <div class="wrap">
                            <div class="choose-setting" ng-if="usersInfo.current">
                                <div class="share" ng-if="usersInfo.current" ng-hide="ended">
                                    <div class="fb-share-button fb_iframe_widget" data-href="{{ getFacebookSharingUrl() }}" data-layout="button"></div>
                                    <div class="twitter-share">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{getShareEmailSubject()}}" data-url="{{ getSharingUrl() }}" data-count="none">Tweet</a>
                                    </div>
                                    <div class="email-share">
                                        <a href="mailto:?subject={{getShareEmailSubject() | escape}}&body={{getShareEmailBody() | escape}}" title="Send an email"><img src="newdesign/image/icon-m.gif" alt="Send an email"></a>
                                    </div>
                                    <textarea class="link" id="sharing_url" style="display:none;">{{ getSharingUrl() }}</textarea>
                                    <a class="btn waves-effect waves-light" ng-click="copy()">Copy link</a>
                                </div>
                                <div class="member">
                                    <div class="thumb"><img ng-src="{{ usersInfo.current.user.getProfileImageURL() }}" alt=""></div>
                                    <p><b>{{ usersInfo.current.user.user.fullName }}</b><br>
                                        <b>Your Location:</b> {{ usersInfo.current.user.getLocationName() }} (<a ng-click="changeLocation()">change</a>)</p>
                                </div>
                                <div class="box-gray">
                                    <p>
                                        Places 
                                        <span ng-if="meeting.specificLocation">({{meeting.specificLocation}})</span>
                                    </p>
                                    <div class="box-white white places-area">
                                        <ul class="choose-list">
                                            <li ng-class="where.selected ? 'selected' : ''" class="place-info" ng-repeat="where in usersInfo.current.where" ng-click="togglePlace(where)">
                                                <a class="icon" title="Delete">Delete</a>
                                                {{ where.name }}
                                                 <div class="tooltip-pleaces">
                                                    <i class="fa fa-caret-down arrow"></i>
                                                    <a class="thumb"><img ng-src="{{ where.where.image_url }}" alt=""></a>
                                                    <div class="cont-data">
                                                        <h3 class="title"><a target="_blank" href="{{ where.where.url }}">{{ where.name }}</a></h3>
                                                        <img ng-src="{{ where.where.rating_url }}" alt="">
                                                        <span class="str-list">{{ where.where.categories[0][0] ? where.where.categories[0][0] : '' }}</span>
                                                        <address>
                                                            {{ where.where.location.display_address }}
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="forbtn"><span class="add-places button-span"><a class="btn btn-add waves-effect waves-light" ng-click="addPlaces()"><i class="icon"></i> Add</a></span></li>
                                        </ul>
                                    </div>
                                    <p>Times</p>
                                    <div class="box-white white times-area">
                                        <ul class="choose-list">
                                            <li ng-class="when.selected ? 'selected' : ''" ng-repeat="when in usersInfo.current.when" ng-click="toggleTime(when)">
                                                <a class="icon" title="Delete">Delete</a>
                                                {{ when.whenFormatted }}
                                            </li>
                                            <li class="forbtn"><span class="add-times button-span"><a class="btn btn-add waves-effect waves-light" ng-click="addTimes()"><i class="icon"></i> Add</a></span></li>
                                        </ul>
                                    </div>
                                    
                                    <div class="line">
                                        <hr />
                                        <span class="circle"><i class="fa fa-arrow-down"></i></span>
                                    </div>
                                    <div class="group" ng-if="userGroups.groups.length">
                                        <h3 class="title suitable-groups">These groups match your indicated preferences. Click on the RSVP button to confirm the one you will be attending:</h3>
                                        <div class="auto-group group" ng-repeat="group in userGroups.groups">
                                            <div class="block">
                                                <h4 class="location">{{ group.where.name }} {{getMeetingLocation(group.where)}}</h4>
                                                <div class="box">
                                                    <div class="info best-places">
                                                        <div class="pleaces-info">
                                                            <a class="thumb"><img ng-src="{{group.where.image_url}}" alt=""></a>
                                                            <div class="cont-data">
                                                                <img ng-src="{{group.where.rating_url}}" alt="">
                                                                <span class="str-list ng-binding">{{ group.where.categories[0][0] }}</span>
                                                                <address class="ng-binding">
                                                                    {{ group.where.location.display_address }}
                                                                </address>
                                                            </div>
                                                        </div>
                                                        <div class="box-gray">
                                                            <span class="time">Start: <b class="red-text">{{ group.when.formatted }}</b></span>
                                                            <a class="btn waves-effect waves-light" ng-click="joinGroup(group)">{{ group.hasJoined(currentUser.id) ? 'Leave' : 'RSVP' }}</a>
                                                        </div>
                                                    </div>
                                                    <div class="title-member-chose">
                                                        <span>{{ group.users.length }} people have chosen:</span>
                                                        <hr />
                                                    </div>
                                                    <ul class="have-chosen">
                                                        <li class="memberLabel" ng-class="group.hasJoined(user.user.id) ? 'cfrmed' : 'not-cfrm'" ng-repeat="user in group.users">
                                                            <i class="icon"></i>{{ user.user.fullName }} <span ng-if="needsGroupUserDetails(userGroups, user)">(you)</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group" ng-if="!userGroups.groups.length">
                                        <h3 class="title suitable-groups">
                                            <img class="warning-icon" src="newdesign/image/warning-icon.png" style="margin-bottom:-4px">
                                            No matching groups! Please add more <a ng-click="addTimes()">times</a>, <a ng-click="addPlaces()">places</a>, and/or invite more friends to this activity.
                                        </h3>
                                    </div>
                                </div>
                                <div class="other-member">
                                    <h3 class="title">
                                        <span ng-show="usersInfo.count == 1">1 person is helping to plan this activity</span>
                                        <span ng-show="usersInfo.count > 1">{{ usersInfo.count }} people are helping to plan this activity:</span>
                                    </h3>
                                    <ul class="list">
                                        <li ng-repeat="(userId, userInfo) in usersInfo.all">
                                            <div class="thumb"><img ng-src="{{ userInfo.user.getProfileImageURL() }}"></div>
                                            <p><b>{{ userInfo.user.user.fullName }}</b></p>
                                            <p class="subtext">{{ userInfo.user.getLocationName() }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id="contRight" class="col l4 s12">
                    <local-meetings location="currentUser.user.location.coords" radius="10" exclude-meeting="{{ meeting.id }}" count="3"></local-meetings>
                </div>
            </div>
        </div><!--//contents-->
        <footer class="page-footer white"></footer><!--//footer-->
    </div>
    <!-- Tip Content -->
    <ol id="joyRideTipContent">
        <li data-id="logo-dot" data-text="Next" class="custom tooltip-mt first-greeting-bubble" data-options="tipLocation:bottom;tipAnimation:pop">
            <h2 id="logo"><a>Socialivo</a></h2>
            <p>This is the Socialivo tour of an 'Activity' page. You can skip this tutorial by clicking on the 'X' in the corner or continue by clicking 'Next'.</p>
        </li>
        <li data-id="home" data-text="Next" class="custom tooltip-ml left-menu" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Home</h2>
            <p>Go to the Socialivo home page</p>
        </li>
        <li data-id="new_meet" data-text="Next" class="custom mb-menu-create tooltip-ml left-menu" data-options="tipLocation:right;tipAnimation:pop">
            <h2>New Activity</h2>
            <p>Create a new activity to invite your friends or make new ones.</p>
        </li>
        <li data-id="meet_me_here" data-text="Next" class="custom tooltip-ml left-menu" data-options="tipLocation:right;tipAnimation:pop">
            <h2>"Meet me here"</h2>
            <p>Have your friends meet you now at your current location.</p>
        </li>
        <li data-id="meet" data-text="Next" class="custom mb-menu-create tooltip-ml left-menu" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Activities</h2>
            <p>Find all the activities you are participating in here.</p>
        </li>
        <li data-id="notification-icon-dot" class="mb-alert tooltip-mr right-menu" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <div id="header">
                <div class="notifications">
                    <a class="dropdown-button info on" href="#">
                        <i class="icon"></i>
                    </a>
                </div>
            </div>
            <h2>Notifications</h2>
            <p>See all of your notifications about activities you are participating in here</p>
        </li>
        <li data-class="account" class="mb-user tooltip-mr right-menu" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <h2>Profile</h2>
            <p>Managing your profile and account settings here.</p>
        </li>
        <li data-class="places-area" data-button="Next" class="mb-meeting-add tooltip-mt" data-options="tipLocation:bottom;ipAnimation:pop">
            <h2>Places</h2>
            <p>All venues suggested by participants for this activity.</p>
        </li>
        <li data-class="add-places" data-button="Next" class="mb-meeting-add tooltip-mt" data-options="tipLocation:bottom;ipAnimation:pop">
            <h3>Add Place Suggestion</h3>
            <p>Suggest a new venue for this activity to occur.</p>
        </li>
        <li data-class="times-area" data-button="Next" class="mb-meeting-add tooltip-mt" data-options="tipLocation:bottom;ipAnimation:pop">
            <h3>Times</h3>
            <p>All times suggested by participants for this activity.</p>
        </li>
        <li data-class="add-times" data-button="Next" class="mb-meeting-add tooltip-mt" data-options="tipLocation:bottom;ipAnimation:pop">
            <h3>Add Time Suggestion</h3>
            <p>Suggest a new time for this activity to occur.</p>
        </li>
        <li data-class="suitable-groups" data-button="Next" class="mb-what-do tooltip-mt" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>This area will show you where there are groups of consensus (if any) with others participating in this activity.</p>
        </li>
        <li data-class="jump-in" data-button="Next" class="mb-meeting-jumin tooltip-mr" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click "Jump-In" to meet new friends at the same position</p>
        </li>
        <li data-class="share" data-button="Close" class="last-tip mb-btn-next tooltip-mt" data-options="tipLocation:bottom;ipAnimation:fade">
            <h3>Share Activity</h3>
            <p>Use these buttons to easily share the details of this activity with others who might be interested</p>
        </li>
    </ol>
</body>
</html>
