<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Socialivo</title>
        <!-- CSS  -->
        <link href="newdesign/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/joyride-2.1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--        <link href="newdesign/css/joyride-mobile.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/joyride-style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
        <!--  Scripts-->
        <script src="newdesign/js/jquery-2.1.1.min.js"></script>
        <script src="newdesign/js/materialize.min.js"></script>
        <script src="js/moment-with-locales.js"></script>        
        <script src="newdesign/js/bootstrap-datetimepicker.js"></script>
        <script src="newdesign/js/jquery.selectBox.js"></script>
        <script src="newdesign/js/prism.js"></script>
        <script src="newdesign/js/init.js"></script>
        <script src="newdesign/js/jquery.cookie.js"></script>
        <script src="newdesign/js/jquery.joyride-2.1.js"></script>
        <script src="newdesign/js/modernizr.mq.js"></script>

        <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
        <script src="js/lodash.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.js"></script>
        <script src="js/rsvp.js"></script>
        <script src="js/geofire.js"></script>
        <script src="js/angular-materialize.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>
        
        
        <script src="js/app.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/directives/dateTimePicker.js"></script>
        <script src="js/app/directives/starsRating.js"></script>
        <script src="js/app/directives/header.js"></script>
        <script src="js/app/directives/footer.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/services/appConfig.js"></script>
        <script src="js/app/services/dataProvider.js"></script>
        <script src="js/app/services/dialogs.js"></script>
        <script src="js/app/services/geoLocation.js"></script>
        <script src="js/app/services/localMeeting.js"></script>
        <script src="js/app/services/meeting.js"></script>
        <script src="js/app/services/modal.js"></script>
        <script src="js/app/services/user.js"></script>
        <script src="js/app/filters/customFilters.js"></script>
        <script src="js/app/services/session.js"></script>
        <script src="js/app/services/userGroupBuilder.js"></script>
        <script src="js/app/services/util.js"></script>
        <script src="js/app/services/category.js"></script>
        <script src="js/app/services/gatheringType.js"></script>
        <script src="js/app/services/notification.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/controllers/authModal.js"></script>
        <script src="js/app/controllers/locationMap.js"></script>
        <script src="js/app/controllers/userAccount.js"></script>
        <script src="js/app/controllers/userMeetingPlaces.js"></script>
        <script src="js/app/controllers/userMeetingTimes.js"></script>
        <script src="js/app/controllers/manualBusiness.js"></script>
        <script src="js/app/controllers/snippet.js"></script>
        <script src="js/app/controllers/createMeeting.js"></script>

    </head>
    <body ng-app="mmh">
        <div id="google-tag" ng-controller="Snippet">
            <div ng-bind-html="getGoogleTag()"></div>
        </div>
        <div id="container" ng-controller="CreateMeetingController" >
            <header>
                <topnav></topnav>
                <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
                <ul id="nav-mobile" class="side-nav fixed">
                    <li ng-class="currentPage == 1 ? 'active' : ''" id="home"><a href="index.html" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
                <li ng-class="currentPage == 3 ? 'active' : ''" id="new_meet"><a href="create_new_activity.html" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Activity</a></li>
                <li ng-class="currentPage == 2 ? 'active' : ''" id="meet" ><a class="waves-effect waves-ripple" ng-click="currentPage = 2"><span class="icon icon-invite"></span>Activities</a>
                        <ul class="subtab-left">
                            <li ng-repeat="meeting in meetingList"  ng-class="(meeting.id == currentMeetingId) ? 'active' : ''">
                                <a ng-href="{{'/activity.html?act=' + meeting.id}}" class="waves-effect waves-ripple active">
                                    <i class="fa fa fa-angle-right"></i>
                                    {{getMeetingName(meeting, false)}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header><!--//header-->
            <div id="contents" style="display: none;">
                <div class="row creat-new">
                    <div class="col s12">
                        <h2 class="title-page">Create a new activity</h2>
                        <div class="checkout-wrap">
                            <ul class="checkout-bar">

                                <li class="{{getVisitedStatus(1)}} first"><span class="txt">What</span></li>
                                <li class="{{getVisitedStatus(2)}}"><span class="txt">When</span></li>
                                <li class="{{getVisitedStatus(3)}}"><span class="txt">Where</span>
                                <li class="{{getVisitedStatus(4)}}"><span class="txt">Who</span>
                            </ul>
                        </div>
                        <div class="frm-creat" ng-show="stage == 1">
                            <div class="row">
                                <h3 class="title">Title of the activity (optional)</h3>
                                <input type="text" class="activity-title" placeholder="Activity title" ng-model="meeting_name" style="max-width:600px;" />
                            </div>
                            <div class="row">
                                <h3 class="title">What do you want to do? </h3>
                                <ul class="option">
                                    <li>
                                        <span class="select-what">
                                            <input class="with-gap" ng-model="what" value="restaurants" id="what01" type="radio"/>
                                            <label for="what01">Have a meal</label>
                                        </span>
                                        <div ng-if="what=='restaurants'" class="check-area">
                                            <span ng-repeat="item in gatheringTypes" style="margin-left: 30px;" class="select-subcagetory">
                                                <input type="checkbox" class="filled-in" id="category_{{item.alias}}" ng-model="$parent.selectedCategory[item.alias]" value="{{item.alias}}"> 
                                                <label for="category_{{item.alias}}">{{item.title}}</label> 
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <input class="with-gap" ng-model="what" value="shopping" id="what02" type="radio"  />
                                        <label for="what02">Go shopping</label>
                                        <div ng-if="what=='shopping'" class="check-area">
                                            <span ng-repeat="item in gatheringTypes" style="margin-left: 30px;">
                                                <input type="checkbox" class="filled-in" id="category_{{item.alias}}" ng-model="$parent.selectedCategory[item.alias]" value="{{item.alias}}"> 
                                                <label for="category_{{item.alias}}">{{item.title}}</label> 
                                            </span>
                                        </div>
                                    </li>
                                    <li><input class="with-gap" ng-model="what" value="other" id="what03" type="radio"  />
                                        <label for="what03">Other (select from categories)</label> 
                                         <select class="select-jq browser-default" style="width: auto; margin-left: 30px;" ng-model="term" ng-show="what == 'other'">
                                            <option value="{{ item.id }}" class="{{ item.id }}" ng-repeat="item in terms | filter:{id:'!restaurants'} | filter:{id:'!shopping'}" ng-selected="item.id == term">{{ item.name }}</option>
                                        </select>
                                        <div ng-if="what=='other'" class="check-area">
                                            <span ng-repeat="item in gatheringTypes" style="margin-left: 30px;">
                                                <input type="checkbox" class="filled-in" id="category_{{item.alias}}" ng-model="$parent.selectedCategory[item.alias]" value="{{item.alias}}"> 
                                                <label for="category_{{item.alias}}">{{item.title}}</label> 
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 2">
                            <div class="row">
                                <h3 class="title">When do you want to do this? </h3>
                                
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="when" id="when01" value="one_hour_later" type="radio" checked />
                                        <label for="when01">1 hour from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when02" value="two_hours_later" type="radio" />
                                        <label for="when02">2 hours from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when03" value="four_hours_later" type="radio" />
                                        <label for="when03">4 hours from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when04" value="other" type="radio" />
                                        <label for="when04">Other (time picker)</label></li>
                                </ul>
                                <div class="box-white white">
                                    <ul class="choose-list">
                                        <li ng-repeat="time in times" class="forbtn">
                                            <span class="selected-time">
                                                <a class="icon" title="Delete" ng-click="removeTime(time)">Delete</a>
                                                {{ time.format(timeFormat) }}
                                            </span>
                                        </li>
                                        <li class="forbtn" ng-hide="times.length == 0"><a class="btn btn-add waves-effect waves-light add-times" ng-click="addTimes()"><i class="icon"></i> Add</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 3">
                            <div class="row">
                                <h3 class="title">Where do you want to do this? </h3>
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where01" value="1" type="radio"  checked />
                                        <label for="where01">Within 1 miles of my current location (default; walkable) </label></li>
                                    <li><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where02" value="10" type="radio" />
                                        <label for="where02">Within 10 miles of my current location (driveable)</label></li>
                                    <li class="select-area"><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where03" value="other" type="radio" />
                                        <label for="where03">Other</label></li>
                                </ul>
                                <div class="row">
                                    <input type="text" placeholder="Enter Neighborhood, Address, City, State or Zip" ng-model="other_location" ng-keyup="updatePlaceSuggestion()" ng-show="where=='other'"style="max-width:300px;" />
                                </div>
                                <h3 class="title">Here are the highest rated establishments (in the search area) </h3>
                                <label style="font-style: italic; font-size: 15px">{{noSuggestionLabel}}</label>
                                <ul class="option">
                                    <li ng-repeat="place in suggestions">
                                        <input class="with-gap" ng-model="$parent.establishment" value="{{place}}" name="establishment" id="{{place.name}}" type="radio" />
                                        <label for="{{place.name}}">{{place.name}} </label>
                                    </li>
                                    <li class="specific-business">
                                        <input class="with-gap" ng-model="establishment" value="manual" name="establishment" id="manual" type="radio" />
                                        <label for="manual">{{manualBusinessLabel}}</label>
                                    </li>
                                    <li>
                                        <input class="with-gap" ng-model="establishment" value="other" name="establishment" id="help_me_decide" type="radio" />
                                        <label for="help_me_decide">Choose it for me</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 4">
                            <div class="row">
                                <h3 class="title">How do you wish to share your activity? </h3>
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="share" value="1" id="share" type="radio"/>
                                        <label for="share">Share via...</label>
                                        <div class="radio-area social-area">
                                            <span>
                                                <input class="with-gap" ng-model="share_social" value="facebook" id="facebook" type="radio"/>
                                                <label for="facebook"><span class="button facebook"><span class="icon-social"><i class="fa fa-facebook"></i></span><span>Facebook</span></span></label>
                                            </span>
                                            <span>
                                                <input class="with-gap" ng-model="share_social" value="twitter" id="twitter" type="radio"/>
                                                <label for="twitter"><span class="button twitter"><span class="icon-social"><i class="fa fa-twitter"></i></span><span>Twitter</span></span></label>
                                            </span>
                                            <span>
                                                <input class="with-gap" ng-model="share_social" value="email" id="email" type="radio"/>
                                                <label for="email"><span class="button email"><span class="icon-social"><i class="fa fa-envelope-o"></i></span><span>email</span></span></label>
                                            </span>
                                            <span>
                                                <input class="with-gap" ng-model="share_social" value="copy" id="copy" type="radio"/>
                                                <label for="copy"><span class="button copy"><span class="icon-social"><i class="fa fa-link"></i></span><span>copy link</span></span></label>
                                            </span>
                                        </div>
                                    </li>
                                    <li class = "make-new-friends"><input class="with-gap" ng-model="share" value="0" id="skip" type="radio"/>
                                        <label for="skip">Make new friends (skip sharing for now)</label>
                                    </li>
                                </ul>
                                <div class="hidden-share">
                                    <a class="fb-share" id="fb-share" style="display: none" href="{{ 'https://www.facebook.com/sharer/sharer.php?sdk=joey&u=' + getFacebookSharingUrl() + '&display=popup&ref=plugin&src=share_button' }}">FB share</a>
                                    <a class="twitter-share" id="twitter-share" style="display: none" href="{{ 'https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fsocialivo.com%2Fcreate_new_activity.html&ref_src=twsrc%5Etfw&text=' + getShareEmailSubject() + '&tw_p=tweetbutton&url=' + shareUrl}}">Twitter share</a>
                                    <a id="sharing_email" style="display: none" href="mailto:?subject={{getShareEmailSubject() | escape}}&body={{getShareEmailBody() | escape}}" title="Send an email"><img src="newdesign/image/icon-m.gif" alt="Send an email"></a>
                                    <textarea class="link" id="sharing_url" style="display: none">{{ shareUrl }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom row">
                            <a class="btn grey btn-large waves-effect waves-light left back-button" ng-hide="stage == 1" ng-click="back()">Back</a>
                            <a class="btn red btn-large waves-effect waves-light right next-button" ng-hide="stage == MAX_STAGE || stage == (MAX_STAGE - 1)" ng-click="next()">Next</a>
                            <a class="btn green btn-large waves-effect waves-light right create-button" ng-show="stage == (MAX_STAGE - 1)" ng-click="next()">Create</a>
                            <a class="btn green btn-large waves-effect waves-light right finish-button" ng-show="stage == MAX_STAGE" ng-click="finish()">Go to meeting</a>
                        </div>
                    </div>
                </div>
            </div><!--//contents-->
            <footer class="page-footer white"></footer><!--//footer-->
        </div>
        <!-- Tip Content -->
        <ol id="joyRideTipContent">
          <li data-id="new_meet" data-text="Next" class="custom" data-options="tipLocation:right;tipAnimation:pop">
            <h2>New meeting</h2>
            <p>Create new meeting</p>
          </li>
          <li data-class="notification-icon" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Show the list of notification</p>
          </li>
          <li data-class="account" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Manage your profile (login/logout/View feature tour)</p>
          </li>
          <li data-class="activity-title" data-button="Next" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Enter name of activity</p>
          </li>
          <li data-class="select-what" data-button="Next" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Choose what activity you want to do</p>
          </li>
          <li data-class="select-subcagetory" data-button="Next" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>You can also customize sub-categories, or just let it as default</p>
          </li>
          <li data-class="next-button" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click to move to next step</p>
          </li>
          <li data-class="selected-time" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Selected time based on your suggestion</p>
          </li>
          <li data-class="add-times" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>You can still add more times to fit your schedule</p>
          </li>
          <li data-class="back-button" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click back to do it again</p>
          </li>
          <li data-class="select-area" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Select the area you want to search. We will suggest establishments in the search area </p>
          </li>
          <li data-class="specific-business" data-button="Next" data-options="tipLocation:right;ipAnimation:fade">
            <p>You can also enter a specific business</p>
          </li>
          <li data-class="create-button" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <p>Create new meeting & start sharing with friends</p>
          </li>
          <li data-class="social-area" data-button="Next" data-options="tipLocation:right;ipAnimation:fade">
            <p>Share with friends</p>
          </li>
          <li data-class="make-new-friends" data-button="Next" data-options="tipLocation:right;ipAnimation:fade">
            <p>Skip this option</p>
          </li>
          <li data-class="finish-button" data-button="Close" class="last-tip" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click to return to Meeting page. Ready to go?</p>
          </li>
        </ol>
    </body>
</html>
