<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Socialivo</title>
        <!-- CSS  -->
        <link href="newdesign/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--  Scripts-->
        <script src="newdesign/js/jquery-2.1.1.min.js"></script>
        <script src="newdesign/js/materialize.min.js"></script>
        <script src="js/moment-with-locales.js"></script>        
        <script src="newdesign/js/bootstrap-datetimepicker.js"></script>
        <script src="newdesign/js/jquery.selectBox.js"></script>
        <script src="newdesign/js/prism.js"></script>
        <script src="newdesign/js/init.js"></script>

        <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
        <script src="js/lodash.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.js"></script>
        <script src="js/rsvp.js"></script>
        <script src="js/geofire.js"></script>
        <script src="js/angular-materialize.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>
        
        
        <script src="js/app.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/directives/dateTimePicker.js"></script>
        <script src="js/app/directives/starsRating.js"></script>
        <script src="js/app/directives/header.js"></script>
        <script src="js/app/directives/footer.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/services/appConfig.js"></script>
        <script src="js/app/services/dataProvider.js"></script>
        <script src="js/app/services/dialogs.js"></script>
        <script src="js/app/services/geoLocation.js"></script>
        <script src="js/app/services/localMeeting.js"></script>
        <script src="js/app/services/meeting.js"></script>
        <script src="js/app/services/modal.js"></script>
        <script src="js/app/services/user.js"></script>
        <script src="js/app/filters/customFilters.js"></script>
        <script src="js/app/services/session.js"></script>
        <script src="js/app/services/userGroupBuilder.js"></script>
        <script src="js/app/services/util.js"></script>
        <script src="js/app/services/category.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/controllers/authModal.js"></script>
        <script src="js/app/controllers/locationMap.js"></script>
        <script src="js/app/controllers/userAccount.js"></script>
        <script src="js/app/controllers/userMeetingPlaces.js"></script>
        <script src="js/app/controllers/userMeetingTimes.js"></script>
        <script src="js/app/controllers/meetingUserInfo.js"></script>
        <script src="js/app/controllers/manualBusiness.js"></script>
        <script src="js/app/controllers/snippet.js"></script>
        <script src="js/app/controllers/createMeeting.js"></script>

    </head>
    <body ng-app="mmh">
        <div id="google-tag" ng-controller="Snippet">
            <div ng-bind-html="getGoogleTag()"></div>
        </div>
        <div id="container">
            <header></header><!--//header-->
            <div id="contents" ng-controller="CreateMeetingController" style="display: none;">
                <div class="row creat-new">
                    <div class="col s12">
                        <h2 class="title-page">Create a new meeting</h2>
                        <div class="checkout-wrap">
                            <ul class="checkout-bar">

                                <li class="{{getVisitedStatus(1)}} first"><a href="#none">What</a></li>
                                <li class="{{getVisitedStatus(2)}}"><a href="#none">When</a></li>
                                <li class="{{getVisitedStatus(3)}}">Where</li>
                                <li class="{{getVisitedStatus(4)}}">Who</li>
                            </ul>
                        </div>
                        <div class="frm-creat" ng-show="stage == 1">
                            <div class="row">
                                <h3 class="title">Title of the meeting (optional)</h3>
                                <input type="text" placeholder="Meeting title" ng-model="meeting_name" style="max-width:600px;" />
                            </div>
                            <div class="row">
                                <h3 class="title">What do you want to do? </h3>
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="what" value="restaurants" id="what01" type="radio"/>
                                        <label for="what01">Have a meal</label></li>
                                    <li><input class="with-gap" ng-model="what" value="shopping" id="what02" type="radio"  />
                                        <label for="what02">Go shopping</label></li>
                                    <li><input class="with-gap" ng-model="what" value="other" id="what03" type="radio"  />
                                        <label for="what03">Other (select from categories)</label></li>
                                </ul>
                                <select class="select-jq browser-default" style="width: auto;" ng-model="term" ng-show="what == 'other'">
                                    <option value="{{ item.id }}" class="{{ item.id }}" ng-repeat="item in terms" ng-selected="item.id == term">{{ item.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 2">
                            <div class="row">
                                <h3 class="title">When do you want to do this? </h3>
                                
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="when" id="when01" value="one_hour_later" type="radio" checked />
                                        <label for="when01">1 hour from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when02" value="two_hours_later" type="radio" />
                                        <label for="when02">2 hours from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when03" value="four_hours_later" type="radio" />
                                        <label for="when03">4 hours from now</label></li>
                                    <li><input class="with-gap" ng-model="when" id="when04" value="other" type="radio" />
                                        <label for="when04">Other (time picker)</label></li>
                                </ul>
                                <div class="box-white white">
                                    <ul class="choose-list">
                                        <li ng-repeat="time in times">
                                            <a class="icon" title="Delete" ng-click="removeTime(time)">Delete</a>
                                            {{ time.format(timeFormat) }}
                                        </li>
                                        <li class="forbtn" ng-hide="times.length == 0"><a class="btn btn-add waves-effect waves-light" ng-click="addTimes()"><i class="icon"></i> Add</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 3">
                            <div class="row">
                                <h3 class="title">Where do you want to do this? </h3>
                                <ul class="option">
                                    <li><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where01" value="1" type="radio"  checked />
                                        <label for="where01">Within 1 miles of my current location (default; walkable) </label></li>
                                    <li><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where02" value="10" type="radio" />
                                        <label for="where02">Within 10 miles of my current location (driveable)</label></li>
                                    <li><input class="with-gap" ng-model="where" ng-change="updatePlaceSuggestion()" id="where03" value="other" type="radio" />
                                        <label for="where03">Other</label></li>
                                </ul>
                                <div class="row">
                                    <input type="text" placeholder="Enter Neighborhood, Address, City, State or Zip" ng-model="other_location" ng-keyup="updatePlaceSuggestion()" ng-show="where=='other'"style="max-width:300px;" />
                                </div>
                                <h3 class="title">Here are the highest rated establishments (in the search area) </h3>
                                <ul class="option">
                                    <li ng-repeat="place in suggestions">
                                        <input class="with-gap" ng-model="$parent.establishment" value="{{place}}" name="establishment" id="{{place.name}}" type="radio" />
                                        <label for="{{place.name}}">{{place.name}} </label>
                                    </li>
                                    <li>
                                        <input class="with-gap" ng-model="establishment" value="manual" name="establishment" id="manual" type="radio" />
                                        <label for="manual">{{manualBusinessLabel}}</label>
                                    </li>
                                    <li>
                                        <input class="with-gap" ng-model="establishment" value="other" name="establishment" id="help_me_decide" type="radio" />
                                        <label for="help_me_decide">Help me decide</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="frm-creat" ng-show="stage == 4">
                            <div class="row">
                                <h3 class="title">How do you wish to share your gathering? </h3>
                                <div class="share">
                                    <div class="label">Share via socials </div>
                                    <div class="fb-share-button" data-href="{{ getFacebookSharingUrl() }}"  data-layout="button"></div>
                                    <div class="twitter-share">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{getShareEmailSubject()}}" data-url="{{ shareUrl }}" data-count="none">Tweet</a>
                                    </div>
                                    <div class="email-share">
                                        <a href="mailto:?subject={{getShareEmailSubject() | escape}}&body={{shareUrl | escape}}" title="Send an email"><img src="newdesign/image/icon-m.gif" alt="Send an email"></a>
                                    </div>
                                    <div style="clear:both;"></div>
                                    <p>or give friends the link</p>
                                    <div class="url">
                                        <a class="link" href="{{ shareUrl }}">{{ shareUrl }}</a>
                                        <a class="btn waves-effect waves-light">Copy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom row">
                            <a class="btn grey btn-large waves-effect waves-light left" ng-hide="stage == 1 || stage == MAX_STAGE" ng-click="back()">Back</a>
                            <a class="btn red btn-large waves-effect waves-light right" ng-hide="stage == MAX_STAGE" ng-click="next()">Next</a>
                            <a class="btn green btn-large waves-effect waves-light right" ng-show="stage == MAX_STAGE" ng-click="finish()">Finish</a>
                        </div>
                    </div>
                </div>
            </div><!--//contents-->
            <footer class="page-footer white"></footer><!--//footer-->
        </div>
    </body>
</html>
