<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Socialivo</title>
	<!-- CSS  -->
    <link rel="apple-touch-icon" sizes="57x57" href="/design/image/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/design/image/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/design/image/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/design/image/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/design/image/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/design/image/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/design/image/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/design/image/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/design/image/favicon/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/design/image/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/design/image/favicon/favicon-194x194.png" sizes="194x194"/>
    <link rel="icon" type="image/png" href="/design/image/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/design/image/favicon/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/design/image/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/design/image/favicon/manifest.json"/>
    <link rel="mask-icon" href="/design/image/favicon/safari-pinned-tab.svg" color="#5bbad5 "/>
    <link rel="shortcut icon" href="/design/image/favicon/favicon.ico"/>
    <meta name="apple-mobile-web-app-title" content="Socialivo"/>
    <meta name="application-name" content="Socialivo"/>
    <meta name="msapplication-TileColor" content="#696969 "/>
    <meta name="msapplication-TileImage" content="/design/image/favicon/mstile-144x144.png"/>
    <meta name="msapplication-config" content="/design/image/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff "/>
    <link href="design/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="design/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="design/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="design/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="design/css/joyride-2.1.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--  Scripts-->
    <script src="design/js/jquery-2.1.1.min.js"></script>
    <script src="design/js/materialize.min.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="design/js/bootstrap-datetimepicker.js"></script>
    <script src="design/js/jquery.selectBox.js"></script>
    <script src="design/js/prism.js"></script>
    <script src="design/js/init.js"></script>
    <script src="design/js/jquery.cookie.js"></script>
    <script src="design/js/jquery.joyride-2.1.js"></script>
    <script src="design/js/modernizr.mq.js"></script>

    <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="js/lodash.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.js"></script>
    <script src="js/rsvp.js"></script>
    <script src="js/geofire.js"></script>
    <script src="js/angular-materialize.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>

    <script src="js/app.js"></script>
    <script src="js/app/directives.js"></script>
    <script src="js/app/directives/localMeetings.js"></script>
    <script src="js/app/directives/header.js"></script>
    <script src="js/app/directives/footer.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/services/appConfig.js"></script>
    <script src="js/app/services/dataProvider.js"></script>
    <script src="js/app/services/dialogs.js"></script>
    <script src="js/app/services/geoLocation.js"></script>
    <script src="js/app/services/localMeeting.js"></script>
    <script src="js/app/services/meetingInfo.js"></script>
    <script src="js/app/services/meeting.js"></script>
    <script src="js/app/services/modal.js"></script>
    <script src="js/app/services/user.js"></script>
    <script src="js/app/services/googleMap.js"></script>
    <script src="js/app/filters/customFilters.js"></script>
    <script src="js/app/services/session.js"></script>
    <script src="js/app/services/util.js"></script>
    <script src="js/app/services/category.js"></script>
    <script src="js/app/services/notification.js"></script>
    <script src="js/app/services/email.js"></script>
    <script src="js/app/services/errorLogging.js"></script>
    <script src="js/app/controllers.js"></script>
    <script src="js/app/controllers/authModal.js"></script>
    <script src="js/app/controllers/index.js"></script>
    <script src="js/app/controllers/locationMap.js"></script>
    <script src="js/app/controllers/userAccount.js"></script>
    <script src="js/app/controllers/snippet.js"></script>
</head>
<body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MC8MMV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MC8MMV');</script>
<!-- End Google Tag Manager -->
    <div id="container" class="homepage" ng-app="mmh" ng-controller="IndexController">
		<header>
            <topnav></topnav>
            <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li ng-class="currentPage == 1 ? 'active' : ''" id="home"><a href="index.html" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
                <li ng-class="currentPage == 4 ? 'active' : ''"id="meet_me_here"><a href="meet_me_here.html" class="waves-effect waves-ripple"><span class="icon icon-history"></span>Meet Me Here</a></li>
                <li ng-class="currentPage == 3 ? 'active' : ''" id="new_meet"><a href="create_new_activity.html" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Activity</a></li>
                <li ng-class="currentPage == 2 ? 'active' : ''" id="meet" ><a class="waves-effect waves-ripple" ng-click="currentPage = 2"><span class="icon icon-invite"></span>Activities</a>
                    <ul class="subtab-left">
                        <li ng-repeat="meeting in meetingList" ng-if="isToday(meeting.createdDate)"  ng-class="(meeting.id == currentMeetingId) ? 'active' : ''">
                            <a ng-href="{{'/activity.html?act=' + meeting.id}}" class="waves-effect waves-ripple active">
                                <i class="fa fa fa-angle-right"></i>
                                {{getMeetingName(meeting, false)}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header><!--//header-->
		<div id="contents">
			<div class="row contents">
                <div id="contLeft" class="col l8 s12">
                    <h2 class="title-page" ng-if="rsvpMeetingList.length">Your Activities</h2>
                    <div class="box-gray meeting-top" ng-if="rsvpMeetingList" ng-repeat="meeting in rsvpMeetingList">
                        <span class="meetingLabel">{{ meeting.type }}</span>
                        <h3 class="title"><a ng-href="{{ meeting.url }}">{{ getMeetingName(meeting, true) }}</a></h3>
                        <div class="wrap">
                            <div class="info">
                                <div class="thumb"><img ng-src="{{meeting.where.image_url ? getCorrectProtocolUrl(meeting.where.image_url) : 'design/image/default_place_thumb.gif'}}" alt=""></div>
                                <div class="des">
                                    <p class="address"><span class="icon"></span>{{ meeting.where.location.display_address }}<span class="subtext">{{ meeting.where.name }}</span></p>
                                    <div class="member-list">
                                        <p ng-if="meeting.usersCount == 1"><b>1 person going</b></p>
                                        <p ng-if="meeting.usersCount > 1"><b>{{ meeting.usersCount }} people going</b></p>
                                        <ul>
                                            <li ng-repeat="image in meeting.userImages track by $index">
                                                <span class="bordered">
                                                    <img ng-src="{{ image }}" alt="" style="height: 35px; width: 35px">
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="rspvBox">
                                <div class="date-time" style="display: none">
                                    <span class="date">Sun Jun 28</span>
                                    <span class="time">2:00 PM</span>
                                </div>
                                <div class="rspv">
                                    <p><span class="going button-span"><a ng-href="{{ meeting.url }}" class="btn waves-effect waves-light">Going</a></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-meetings homepage">
                        <h2 class="title-page other-meetings-title">Other Local Activities</h2>
                        <div ng-show="otherMeetings.length == 0">No activity found</div>
                        <ul ng-show="otherMeetings.length > 0">
                            <li ng-repeat="meeting in otherMeetings">
                                <div class="info">
                                    <span class="meetingLabel">{{ meeting.type }}</span>
                                    <h3 class="title"><a ng-href="{{ meeting.url }}">{{ getMeetingName(meeting, true)}}</a></h3>
                                    <p class="address"><span class="icon"></span>{{ meeting.where.location.display_address }}<span class="subtext">{{ meeting.where.name }}</span></p>
                                    <p ng-if="meeting.users.length == 1">1 person going</p>
                                    <p ng-if="meeting.users.length > 1">{{ meeting.users.length }} people going</p>
                                </div>
                                <div class="rspvBox">
                                    <div class="date-time" style="display: none">
                                        <span class="date">Sun Jun 28</span>
                                        <span class="time">2:00 PM</span>
                                    </div>
                                    <div class="rspv">
                                        <b>Want to go?</b>
                                        <p><a ng-href="{{ meeting.url }}" class="btn waves-effect waves-light jump-in">Jump in</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
				<div id="contRight" class="col l4 s12">
                    <div class="your-location button-span">
                        <div class="left">
                            <h2 class="title-page">Your location</h2>
                        </div>
                        <div class="right auto-detect-location">
                            <span class="auto-detect button-span right"><a class="btn red waves-effect waves-light right" ng-click="autoDetectLocation()">Auto detect</a></span>
                        </div>
                        <div style="clear: both"></div>

                        <div class="map map-canvas"></div>
                        <div class="des">
                            <span class="icon"></span>
                            <input type="text" placeholder="Enter location" value="{{locationName}}" class="search-box" />
                        </div>
                    </div>
					<div class="categories-nav">
						<h2 class="title-page browse-by-category">Browse by Categories</h2>
						<ul>
                            <li ng-repeat="category in categories" class="level-0 category-name" ng-show="category.meetings">
                                <a><i class="icon"></i>{{category.name}}</a>
                                <ul class="subtab">
                                    <li ng-repeat="meeting in category.meetings" ng-if="isToday(meeting.createdDate)">
                                        <a href="activity.html?act={{meeting.id}}">{{getMeetingName(meeting, true)}}</a>
                                    </li>
                                </ul>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--//contents-->
		<footer class="page-footer white"></footer><!--//footer-->
	</div>
    
    <!-- Tip Content -->
    <ol id="joyRideTipContent">
        <li data-id="logo-dot" data-text="Next" class="custom tooltip-mt mb-logo common-tooltip" data-options="tipLocation:bottom;tipAnimation:pop">
            <h2 id="logo"><a>Socialivo</a></h2>
            <p>This is the Socialivo tour of an 'Home' page. You can skip this tutorial by clicking on the 'X' in the corner or continue by clicking 'Next'.</p>
        </li>
        <li data-id="new_meet" data-text="Next" class="custom mb-menu-create tooltip-ml left-menu common-tooltip" data-options="tipLocation:right;tipAnimation:pop">
            <h2>New Activity</h2>
            <p>Create a new activity of your own.</p>
        </li>
        <li data-id="meet_me_here" data-text="Next" class="custom tooltip-ml left-menu common-tooltip" data-options="tipLocation:right;tipAnimation:pop">
            <h2>"Meet me here"</h2>
            <p>Have your friends meet you now at your current location.</p>
        </li>
        <li data-id="meet" data-text="Next" class="custom mb-menu-create tooltip-ml left-menu common-tooltip" data-options="tipLocation:right;tipAnimation:pop">
            <h2>Activities</h2>
            <p>Find all the activities you are participating in here.</p>
        </li>
        <li data-id="notification-icon-dot" class="mb-alert tooltip-mr right-menu notification-tooltip common-tooltip" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <div id="header">
                <div class="notifications">
                    <a class="dropdown-button info on" href="#">
                        <i class="icon"></i>
                    </a>
                </div>
            </div>
            <h2>Notifications</h2>
            <p>See all of your notifications about activities you are participating in here</p>
        </li>
        <li data-class="account" class="mb-user tooltip-mr right-menu common-tooltip" data-button="Next" data-options="tipLocation:left;ipAnimation:fade">
            <h2>Profile</h2>
            <p>Managing your profile and account settings here.</p>
        </li>
        <li data-class="going" data-button="Next" class="mb-what-an tooltip-mt going-activity" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>You've RSVPed to this activity. Click on the activity's title to change your status.</p>
        </li>
        <li data-class="other-meetings-title" class="mb-home-jumin tooltip-mt further-from-top" data-button="Next" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Other people's activities happening around the area you are invited to join. Click on one to get started!</p>
        </li>
        <li data-class="your-location" data-button="Next" class="mb-what-an tooltip-mt your-location" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Your current location. Drag the marker or enter an alternative location if it does not reflect your location of interest.</p>
        </li>
        <li data-class="auto-detect" data-button="Next" class="mb-what-an tooltip-mr right-menu" data-options="tipLocation:left;ipAnimation:fade">
            <p>Click to automatically detect your location. </p>
        </li>
        <li data-class="browse-by-category" class="last-tip mb-home-browse tooltip-mt further-from-top" data-button="Close" data-options="tipLocation:bottom;ipAnimation:fade">
            <p>Browse other local activities by activity category</p>
        </li>
    </ol>
    <div class="loading-wrap" style="display:none"></div>
</body>
</html>
