<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Meet Me Here</title>
        <!-- CSS  -->
        <link href="newdesign/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="newdesign/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--  Scripts-->
        <script src="newdesign/js/jquery-2.1.1.min.js"></script>
        <script src="newdesign/js/materialize.min.js"></script>
        <script src="js/moment-with-locales.js"></script>        
        <script src="newdesign/js/bootstrap-datetimepicker.js"></script>
        <script src="newdesign/js/jquery.selectBox.js"></script>
        <script src="newdesign/js/prism.js"></script>
        <script src="newdesign/js/init.js"></script>

        <script src="//cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.0/lodash.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/1.1.1/angularfire.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqyBR4bu0xg0l9ypkVNs61agcZ14eAJN4"></script>
        
        <script src="js/app.js"></script>
        <script src="js/app/directives.js"></script>
        <script src="js/app/directives/dateTimePicker.js"></script>
        <script src="js/app/directives/starsRating.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/services/appConfig.js"></script>
        <script src="js/app/services/dataProvider.js"></script>
        <script src="js/app/services/dialogs.js"></script>
        <script src="js/app/services/geoLocation.js"></script>
        <script src="js/app/services/meeting.js"></script>
        <script src="js/app/services/modal.js"></script>
        <script src="js/app/services/userGroupBuilder.js"></script>
        <script src="js/app/services/user.js"></script>
        <script src="js/app/controllers.js"></script>
        <script src="js/app/controllers/locationMap.js"></script>
        <script src="js/app/controllers/userMeetingPlaces.js"></script>
        <script src="js/app/controllers/userMeetingTimes.js"></script>
        <script src="js/app/controllers/meetingUserInfo.js"></script>
    </head>
<body ng-app="mmh">
    <div id="container">
        <header>
            <nav id="header" class="top-nav">
                <h1 id="logo"><a href="#none">MEET ME HERE</a></h1>
                <div id="top-right" class="pull-right">
                    <div class="notifications">
                        <a class="dropdown-button info" href="#" data-activates="notifications-info" title="Notifications">
                            <i class="icon"></i><span class="alert-bubble">123</span>
                        </a>
                        <div id="notifications-info" class="dropdown-content">
                            <p class="notifLabel">Notifications</p>
                            <ul>
                                <li><a>All caught up!</a></li>
                            </ul>
                            <span class="icon arow"></span>
                        </div>
                    </div>
                    <div class="account">
                        <a class="dropdown-button info" href="#" data-activates="account-info">
                            <span class="thumb"><img src="newdesign/image/temp/avatar.jpg" alt=""></span><span class="name">tuandx<i class="icon"></i></span>
                        </a>
                        <div id="account-info" class="dropdown-content">
                            <ul>
                                <li><a href="#none">Profiled</a></li>
                                <li><a href="#none">Settings</a></li>
                                <li><a href="#none">Log out</a></li>
                            </ul>
                            <span class="icon arow"></span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
            <ul id="nav-mobile" class="side-nav fixed">
                <li class="active"><a href="#none" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
                <li><a href="#none" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Meet</a></li>
                <li><a href="#none" class="waves-effect waves-ripple"><span class="icon icon-invite"></span>Invite</a></li>
                <li><a href="#none" class="waves-effect waves-ripple"><span class="icon icon-history"></span>History</a></li>
            </ul>
        </header><!--//header-->
        <div id="contents" ng-controller="meetingController">
            <div class="row contents">
                <div id="contLeft" class="col l9 s12">
                    <div class="box-meeting">
                        <h2 class="title-page"><span class="icon"></span>Dinner with seafood and wine drinkers. where?</h2>
                        <div class="wrap">
                            <div class="group">
                                <h3 class="title">Group that suits you:</h3>
                                <div class="box-gray" ng-repeat="group in userGroups.groups">
                                    <h4 class="location">
                                        <span class="icon"></span>
                                        <span class="subtext">At:</span> {{ group.where.name }}
                                    </h4>
                                    <div class="box-white white">
                                        <span class="time">Start: <b class="red-text">{{ group.when.formatted }}</b></span>
                                        <a href="#none" class="btn waves-effect waves-light" ng-click="joinGroup(group)">Jump in</a>
                                    </div>
                                    <p>{{ group.users.length }} people have chosen:</p>
                                    <ul class="have-chosen">
                                        <li class="memberLabel" ng-class="group.hasJoined(user.user.id) ? 'cfrmed' : 'not-cfrm'" ng-repeat="user in group.users">
                                            <i class="icon"></i>{{ user.user.name }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="choose-setting">
                                <div class="member">
                                    <div class="thumb"><img ng-src="{{ currentUserInfo.user.getProfilePictureUrl() }}" alt=""></div>
                                    <p><b>{{ currentUserInfo.user.user.name }}</b><br>
                                        <b>Your Location:</b> {{ currentUserInfo.user.getLocationName() }} (<a href="#none" ng-click="changeLocation()">change</a>)</p>
                                </div>
                                <div class="box-gray">
                                    <p>Places?</p>
                                    <div class="box-white white">
                                        <ul class="choose-list">
                                            <li ng-style="{'background-color': where.selected ? 'green' : 'red'}" ng-repeat="where in currentUserInfo.where">
                                                <a href="#none" class="icon" title="Delete" ng-click="removePlace(where)">Delete</a>
                                                {{ where.name }}
                                            </li>
                                        </ul>
                                        <a class="btn btn-add waves-effect waves-light" ng-click="addPlaces()"><i class="icon"></i> Add</a>
                                    </div>
                                    <p>Times?</p>
                                    <div class="box-white white">
                                        <ul class="choose-list">
                                            <li ng-style="{'background-color': when.selected ? 'green' : 'red'}" ng-repeat="when in currentUserInfo.when">
                                                <a href="#none" class="icon" title="Delete" ng-click="removeTime(when)">Delete</a>
                                                {{ when.whenFormatted }}
                                            </li>
                                        </ul>
                                        <a class="btn btn-add waves-effect waves-light" ng-click="addTimes()"><i class="icon"></i> Add</a>
                                    </div>
                                </div>
                            </div>
                            <div class="other-member"> {{ otherUsersInfo.keys().length }}
                                <h3 class="title">{{ otherUsersInfo.length }} people join this event:</h3>
                                <ul class="list">
                                    <li ng-repeat="userInfo in otherUsersInfo">
                                        <div class="thumb"><img ng-src="{{ userInfo.user.getProfilePictureUrl() }}" alt=""></div>
                                        <p><b>{{ userInfo.user.user.name }}</b></p>
                                        <p class="subtext">Location: {{ userInfo.user.getLocationName() }} </p>
                                        <p class="link"><a ng-click="showUserInfo(userInfo)">View Detail &raquo;</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="share">
                        <dl>
                            <dt>Share via socials</dt>
                            <dd><a href="#none" title="Post to facebook"><img src="newdesign/image/icon-fb.gif" alt="Post to facebook"></a></dd>
                            <dd><a href="#none" title="Post to Twitter"><img src="newdesign/image/icon-tw.gif" alt="Post to Twitter"></a></dd>
                            <dd><a href="#none" title="Send an email"><img src="newdesign/image/icon-m.gif" alt="Send an email"></a></dd>
                        </dl>
                        <p>or give friends the link</p>
                        <div class="url">
                            <a class="link" href="#none">{{ getSharingUrl() }}</a>
                            <a href="#none" class="btn waves-effect waves-light">Copy</a>
                        </div>
                    </div>
                </div>
                <div id="contRight" class="col l3 s12">
                    <div class="other-meetings">

                        <h2 class="title-page">Other Local Events</h2>
                        <ul>
                            <li>
                                <div class="info">
                                    <span class="meetingLabel">Food &amp; drink</span>
                                    <h3 class="title"><a href="#none">EdTech in Asia: Challenges & Opportunities</a></h3>
                                    <p class="address"><span class="icon"></span>484 Ellis St San Francisco, CA 94102<span class="subtext">Southeast Portland, Hawthorne, Sunnyside (<a href="#none">map</a>)</span></p>
                                    <p >2 persons going</p>
                                </div>
                                <div class="rspvBox">
                                    <div class="date-time">
                                        <span class="date">Sun Jun 28</span>
                                        <span class="time">2:00 PM</span>
                                    </div>
                                    <div class="rspv">
                                        <b>Want to go?</b>
                                        <p><a href="#none" class="btn waves-effect waves-light">Jump in</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <span class="meetingLabel">Food &amp; drink</span>
                                    <h3 class="title"><a href="#none">EdTech in Asia: Challenges & Opportunities</a></h3>
                                    <p class="address"><span class="icon"></span>484 Ellis St San Francisco, CA 94102<span class="subtext">Southeast Portland, Hawthorne, Sunnyside (<a href="#none">map</a>)</span></p>
                                    <p >2 persons going</p>
                                </div>
                                <div class="rspvBox">
                                    <div class="date-time">
                                        <span class="date">Sun Jun 28</span>
                                        <span class="time">2:00 PM</span>
                                    </div>
                                    <div class="rspv">
                                        <b>Want to go?</b>
                                        <p><a href="#none" class="btn waves-effect waves-light">Jump in</a></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <span class="meetingLabel">Food &amp; drink</span>
                                    <h3 class="title"><a href="#none">EdTech in Asia: Challenges & Opportunities</a></h3>
                                    <p class="address"><span class="icon"></span>484 Ellis St San Francisco, CA 94102<span class="subtext">Southeast Portland, Hawthorne, Sunnyside (<a href="#none">map</a>)</span></p>
                                    <p >2 persons going</p>
                                </div>
                                <div class="rspvBox">
                                    <div class="date-time">
                                        <span class="date">Sun Jun 28</span>
                                        <span class="time">2:00 PM</span>
                                    </div>
                                    <div class="rspv">
                                        <b>Want to go?</b>
                                        <p><a href="#none" class="btn waves-effect waves-light">Jump in</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--//contents-->
        <footer class="page-footer white">
            <div class="social">
                <span class="title">FOLLOW US</span>
                <ul>
                    <li class="fb"><a class="icon waves-effect waves-light" href="#none" title="Facebook">Facebook</a></li>
                    <li class="youtube"><a class="icon waves-effect waves-light" href="#none" title="Youtube">Youtube</a></li>
                    <li class="twitter"><a class="icon waves-effect waves-light" href="#none" title="Twitter">Twitter</a></li>
                    <li class="google-plus"><a class="icon waves-effect waves-light" href="#none" title="Google Plus">Google Plus</a></li>
                    <li class="linkedin"><a class="icon waves-effect waves-light" href="#none" title="Linkedin">Linkedin</a></li>
                </ul>
            </div>
            <div class="copyright">© Whatever Our Name Will Be. All rights reserved.</div>
        </footer><!--//footer-->
    </div>
    <!-- Modal Place -->
    <div id="modal-place" class="modal">
        <div class="modal-content">
            <h4 class="title">Where do you want to do this?</h4>
            <div class="pop-place">
                <div class="select-area row">
                    <div class="right">
                        <span>you can search for places by category:</span>
                        <select class="select-jq browser-default">
                            <option class="restaurants">Restaurants</option>
                            <option class="food">Food</option>
                            <option class="nightlife">Nightlife</option>
                            <option class="shopping">Shopping</option>
                            <option class="bars">Bars</option>
                            <option class="american-new">American (New)</option>
                            <option class="breakfast-brunch">Breakfast &amp; Brunch</option>
                            <option class="coffee-tea">Coffee &amp; Tea</option>
                            <option class="beauty-spas">Beauty &amp; Spas</option>
                            <option class="health-medical">Health &amp; Medical</option>
                            <option class="home-services">Home Services</option>
                            <option class="automotive">Automotive</option>
                            <option class="local-services">Local Services</option>
                            <option class="event-services">Event Planning &amp; Services</option>
                            <option class="arts-entertainment">arts &amp; Entertainment</option>
                            <option class="active-life">Active Life</option>
                            <option class="hotels-travel">Hotels &amp; Travel</option>
                            <option class="pets">Pets</option>
                            <option class="professional-services">Professional Services</option>
                            <option class="local-flavor">Local Flavor</option>
                            <option class="education">Education</option>
                            <option class="public-government">Public Services &amp; Government</option>
                            <option class="real-estate">Real Estate</option>
                            <option class="financial-services">Financial Services</option>
                            <option class="mass-media">Mass Media</option>
                            <option class="religious-organizations">Religious Organizations</option>
                        </select>
                    </div>
                </div>
                <ul class="best-places">
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE839;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box" />
                            <label for="filled-in-box"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE839;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box1" />
                            <label for="filled-in-box1"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE839;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box2" />
                            <label for="filled-in-box2"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE83A;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box3" />
                            <label for="filled-in-box3"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE83A;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box4" />
                            <label for="filled-in-box4"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE83A;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box6" />
                            <label for="filled-in-box6"></label>
                        </span>
                    </li>
                    <li class="row">
                        <div class="info">
                            <h3 class="title"><a href="#none">The Flying Falafel</a></h3>
                            <p class="rate">
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE838;</i>
                                <i class="material-icons">&#xE83A;</i>
                            </p>
                        </div>
                        <span class="check-area">
                            <input type="checkbox" class="filled-in" id="filled-in-box7" />
                            <label for="filled-in-box7"></label>
                        </span>
                    </li>
                </ul>
            </div>
            <a href="#none" class="modal-close icon-close"><i class="material-icons">close</i></a>
        </div>
        <div class="modal-footer">
            <a href="#none" class="modal-close waves-effect waves-light btn grey">Close</a>
            <a href="#none" class="modal-action modal-close waves-effect waves-light btn red">Add done</a>
        </div>
    </div>
    <!-- Modal Time -->
    <div id="modal-time" class="modal white">
        <div class="modal-content">
            <h4 class="title">When do you want to do this?</h4>
            <div class="timepicker-wrap">
                <div class="row">
                    <div id="datetimepicker" class="box-inner"></div>
                    <a class="btn btn-add waves-effect waves-light" href="#none"><i class="icon"></i> Add</a>
                </div>
                <div class="box-white">
                    <ul class="choose-list">
                        <li><a href="#none" class="icon" title="Delete">Delete</a>1:00AM</li>
                        <li><a href="#none" class="icon" title="Delete">Delete</a>3:00AM</li>
                        <li><a href="#none" class="icon" title="Delete">Delete</a>5:00AM</li>
                    </ul>
                </div>
            </div>
            <a href="#none" class="modal-close icon-close"><i class="material-icons">close</i></a>
        </div>
        <div class="modal-footer">
            <a href="#none" class="modal-close waves-effect waves-light btn grey">Close</a>
            <a href="#none" class="modal-action modal-close waves-effect waves-light btn red">Add done</a>
        </div>
    </div>
    <!-- Modal Detail member -->
    <div id="modal-detail01" class="modal">
        <div class="modal-content">
            <div class="pop-user-detail">
                <div class="user">
                    <div class="thumb"><img src="newdesign/image/temp/avatar_02.jpg" alt=""></div>
                    <p><b>Tuandx</b></p>
                    <p class="subtext">Location: Searingtown, US</p>
                    <span class="cfrmed"><i class="icon"></i>Confirmed</span>
                    <span class="not-cfrm"><i class="icon"></i>Not Confirmed</span>
                </div>
                <div class="choose-info">
                    <p>Places?</p>
                    <div class="box-white">
                        <ul class="choose-list">
                            <li>Toskana Pizzeria</li>
                            <li>Mama Lee</li>
                            <li>Pine State Biscuits</li>
                        </ul>
                    </div>
                    <p>Times?</p>
                    <div class="box-white">
                        <ul class="choose-list">
                            <li>1:00AM</li>
                            <li>3:00AM</li>
                            <li>5:00AM</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#none" class="modal-close icon-close"><i class="material-icons">close</i></a>
        </div>
        <div class="modal-footer">
            <a href="#none" class="modal-close waves-effect waves-light btn grey">Close</a>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                    inline: true,
                    sideBySide: true,
                    stepping: 15,
            });
            $('#datetimepicker .datepicker').remove();
            $('.select-jq').selectBox({
                mobile: true
            });
        });
    </script>
</body>
</html>
