html, body{height:100%;}
#container{min-height:100%; position:relative;}
.icon, .bg-arrow{background:url(../image/bg.png) no-repeat 0 0;}
.side-nav.fixed{padding-top:10px;}
.side-nav.fixed>li{border-bottom:1px dotted #4f4b4c;}
.side-nav.fixed>li>a{padding:8px 10px 5px; text-align:left;text-transform:uppercase; font-weight:700;}
.side-nav .icon{display:inline-block; height:30px;width:30px;}
.side-nav>li>a:hover, .side-nav>li.active>a{color:#fff; text-decoration:none;background:#302e2e}
.side-nav .icon-home{background-position:-16px -13px;}
.side-nav a:hover .icon-home, .side-nav li.active a .icon-home{background-position:-16px -65px;}
.side-nav .icon-new{background-position:-16px -117px;}
.side-nav a:hover .icon-new, .side-nav li.active a .icon-new{background-position:-16px -169px;}
.side-nav .icon-invite{background-position:-13px -221px;}
.side-nav a:hover .icon-invite, .side-nav li.active a .icon-invite{background-position:-13px -273px;}
.side-nav .icon-history{background-position:-14px -324px;}
.side-nav a:hover .icon-history, .side-nav li.active a .icon-history{background-position:-14px -376px;}
.side-nav.parent-hover{overflow:inherit;}
.side-nav li ul{top: 0; display:none; padding:0 5px 5px;background:#302e2e;}
.side-nav li ul a{text-align:left; padding:7px 5px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; border-top:1px solid #393737;}
.side-nav li.active ul{display:block;}
.side-nav li.active .active a, .side-nav li.active a:hover{background:#424040; color:#dbd9d9; text-decoration:none;}

#header{background:#fff; margin-left:160px; line-height:normal; height:62px; position:relative; width:auto;}
#logo{position:absolute; left:20px; top:10px; margin:0; padding:0;}
#logo a{display:block; height:40px; line-height:30px; background:url(../image/logo.png) no-repeat 0 0;font-size:22px; color:#404040; width:175px; text-indent:-9999em}
#logo a:hover{text-decoration:none;}
#top-right{float:right; padding-top:20px; padding-right:20px;}
.dropdown-content .arow{position:absolute;width:24px; height:13px; top:-13px; right:20px; background-position:0 -975px;}
.dropdown-content a{text-decoration:none;}
#header .account{float:left;}
#header .account a{color:#9e9b98; font-size:13px; display:inline-block;}
#header .account .thumb{border-radius:50%; overflow:hidden; width:25px; height:25px; display:inline-block; vertical-align:middle; margin-right:5px; border:1px solid #dedede;}
#header .account .thumb img{width:100%;}
#header .account .info .icon{background-position:0 -441px; width:10px; height:5px; display:inline-block; vertical-align:middle; margin-left:3px;}
#header .account .info:hover .icon{background-position:-10px -441px;}
#header .account .info:hover{color:#e44424;}
header .button-collapse{position:absolute; top:10px; left:10px; width:50px; height:42px;color:#404040;border-radius: 0;text-align: center;line-height:40px;font-size: 30px; border:1px solid #dcdcdc;}
#header .notifications{float:left; border-right:1px solid #dcd5d6; margin-right:10px; padding-right:10px; position:relative; margin-top:3px;}
#header .notifications .dropdown-button .icon{background-position:0 -416px; display:block; width:22px; height:23px;}
#header .notifications .dropdown-button .alert-bubble{background:#e65032; position:absolute; top:-6px; left:8px; padding:1px 4px 2px; font-size:9px; border-radius:12px; display:none;}
#header .notifications .on .icon{background-position:-22px -416px;}
#header .notifications .on .alert-bubble{display:block; color:#fff;}
#header .notifications .dropdown-content{min-width:320px; margin-left:43px; margin-top:35px; font-size:13px;}
#header .notifications .notifLabel{border-bottom:1px solid #dcdcdc; padding:10px; text-transform:uppercase; margin:0;}
#header .notifications li a{color:#9b9b9b; font-size:13px;}
#header .notifications li b{color:#404040;}
footer.page-footer{position:absolute; bottom:0; left:0; width:100%; min-height:70px; box-shadow:inset 0 1px 5px #ccc; overflow:hidden; padding-top:10px; color:#a9a9a9;}
.page-footer .social{float:left; padding-left:180px; padding-top:15px;}
.page-footer .social ul, .page-footer .social ul li, .page-footer .social .title{display:inline-block; vertical-align:middle; margin:0}
.page-footer .social li a{display:block; width:25px; height:25px; background-color:#6d6d6d; border-radius:50%; text-indent:-9999em}
.page-footer .social .fb a{background-position:50% -640px;}
.page-footer .social .youtube a{background-position:50% -678px;}
.page-footer .social .twitter a{background-position:50% -710px;}
.page-footer .social .google-plus a{background-position:50% -746px;}
.page-footer .social .linkedin a{background-position:50% -782px;}
.page-footer .social .title{font-weight:700; margin-right:5px;}
.page-footer .copyright{float:right;padding:20px 20px 0 0; font-size:12px;}
#contents{padding:40px 20px 110px 180px;}

@media only screen and (max-width : 768px){
#header{margin-left:0;}
#header #logo{left:80px;}
#contents{padding-left:20px;}
.page-footer .copyright, .page-footer .social{float:none; padding:0 20px 10px;}
}
