<nav id="header" class="top-nav">
    <h1 id="logo"><a href="/">Socialivo</a><span id="logo-dot"></span></h1>
    <span class="tagline">The WHO, WHEN, WHERE of WHAT's happening right now</span>
    <div id="top-right" class="pull-right" ng-controller="UserAccountController">
        <div class="notifications">
            <a class="dropdown-button info on" href="#" data-activates="notifications-info" title="Notifications">
                <span id="notification-icon-dot"></span><i class="icon notification-icon"></i><span class="alert-bubble" ng-show="countNotification">{{ countNotification }}</span>
            </a>
            <div id="notifications-info" class="dropdown-content">
                <p class="notifLabel">Notifications</p>
                <ul>
                    <li ng-repeat="(key, notification) in notifications">
                        <a class="notification-content" href="activity.html?act={{ notification.meetId }}" ng-bind-html="getNotificationText(notification)"></a>
                        <a class="icon" title="Delete" ng-click="clearNotification(key, notification.id)"></a>
                    </li>
                    <li ng-click="clearAllNotification()" ng-show="notifications.length"><a>CLEAR ALL</a></li>
                </ul>
                <span class="icon arow"></span>
            </div>
        </div>
        <div class="account">
            <div class="user-link" ng-if="!isAuthenticated">
                    <a class="btn btn-flat waves-effect waves-ripple modal-trigger" ng-click="login()">
                        <i class="fa fa-user"></i> Login/Signup
                    </a>
            </div>
            <div ng-if="isAuthenticated">
                <a class="dropdown-button info" href="javascript:void(0)" data-activates="account-info" data-hover="true" dropdown>
                    <span class="thumb"><img ng-src="{{ user.getProfileImageURL() }}" alt=""></span>
                    <span class="name">
                        {{ user.fullName }}<i class="icon"></i>
                    </span>
                </a>
                <div id="account-info" class="dropdown-content">
                    <ul>
                        <!--<li><a href="#none">Profile</a></li>-->
                        <!--<li><a href="#none">Settings</a></li>-->
                        <li><a ng-click="startTutorial()">Feature tour</a></li>
                        <li><a href="history.html">History</a></li>
                        <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                    <span class="icon arow"></span>
                </div>
            </div>
        </div>
    </div>
</nav>