<nav id="header" class="top-nav">
    <h1 id="logo"><a href="/">Socailivo</a></h1>
    <div id="top-right" class="pull-right">
<!--                        <div class="notifications">
            <a class="dropdown-button info on" href="#" data-activates="notifications-info" title="Notifications">
                <i class="icon"></i><span class="alert-bubble">123</span>
            </a>
            <div id="notifications-info" class="dropdown-content">
                <p class="notifLabel">Notifications</p>
                <ul>
                    <li><a href="#none">
                            <b class="red-text">Reminder:</b> Meetup with <b>Meditation Hanoi Meetup</b> on Wednesday
                        </a></li>
                    <li><a href="#none">
                            <b class="red-text">Reminder:</b> You have received an invitation to join the meeting <b>wine Drinkers</b> on Wednesday
                        </a></li>
                </ul>
                <span class="icon arow"></span>
            </div>
        </div>-->
        <div class="account" ng-controller="UserAccountController">
            <div class="user-link" ng-if="!isAuthenticated">
                    <a class="btn btn-flat waves-effect waves-ripple modal-trigger" ng-click="login()">
                        <i class="fa fa-user"></i> Login/Signup
                    </a>
            </div>
            <div ng-if="isAuthenticated">
                <a class="dropdown-button info" href="javascript:void(0)" data-activates="account-info" data-hover="true" dropdown>
                    <span class="thumb"><img ng-src="{{ user.getProfileImageURL() }}" alt=""></span>
                    <span class="name">
                        {{ user.fullName }}<i class="icon"></i>
                    </span>
                </a>
                <div id="account-info" class="dropdown-content">
                    <ul>
                        <!--<li><a href="#none">Profile</a></li>-->
                        <!--<li><a href="#none">Settings</a></li>-->
                        <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                    <span class="icon arow"></span>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
<ul id="nav-mobile" class="side-nav fixed">
    <li ng-class="currentPage == 1 ? 'active' : ''"><a href="index.html" class="waves-effect waves-ripple"><span class="icon icon-home"></span>Home</a></li>
    <li ng-class="currentPage == 3 ? 'active' : ''"><a href="create_new_meeting.html" class="waves-effect waves-ripple"><span class="icon icon-new"></span>New Meet</a></li>
    <li ng-class="currentPage == 2 ? 'active' : ''"><a class="waves-effect waves-ripple" ng-click="currentPage = 2"><span class="icon icon-invite"></span>Meetings</a>
<!--        <ul class="subtab-left">
            <li><a href="#none" class="waves-effect waves-ripple active"><i class="fa fa fa-angle-right"></i> Dinner with seafood</a></li>
            <li class="active"><a href="#none" class="waves-effect waves-ripple"><i class="fa fa fa-angle-right"></i> EdTech in Asia: Challenges &amp; Opportunities</a></li>
            <li><a href="#none" class="waves-effect waves-ripple"><i class="fa fa fa-angle-right"></i> Subtab 03</a></li>
        </ul>-->
    </li>
</ul>