<nav id="header" class="top-nav">
    <h1 id="logo"><a href="/">Socialivo</a></h1>
    <div id="top-right" class="pull-right" ng-controller="UserAccountController">
        <div class="notifications">
            <a class="dropdown-button info on" href="#" data-activates="notifications-info" title="Notifications">
                <i class="icon"></i><span class="alert-bubble">{{ countNotification }}</span>
            </a>
            <div id="notifications-info" class="dropdown-content">
                <p class="notifLabel">Notifications</p>
                <ul>
                    <li ng-repeat="notification in notifications">
                        <a href="activity.html?act={{ notification.meetId }}" ng-bind-html="getNotificationText(notification)">
                           
                        </a>
                    </li>
                </ul>
                <span class="icon arow"></span>
            </div>
        </div>
        <div class="account">
            <div class="user-link" ng-if="!isAuthenticated">
                    <a class="btn btn-flat waves-effect waves-ripple modal-trigger" ng-click="login()">
                        <i class="fa fa-user"></i> Login/Signup
                    </a>
            </div>
            <div ng-if="isAuthenticated">
                <a class="dropdown-button info" href="javascript:void(0)" data-activates="account-info" data-hover="true" dropdown>
                    <span class="thumb"><img ng-src="{{ user.getProfileImageURL() }}" alt=""></span>
                    <span class="name">
                        {{ user.fullName }}<i class="icon"></i>
                    </span>
                </a>
                <div id="account-info" class="dropdown-content">
                    <ul>
                        <!--<li><a href="#none">Profile</a></li>-->
                        <!--<li><a href="#none">Settings</a></li>-->
                        <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                    <span class="icon arow"></span>
                </div>
            </div>
        </div>
    </div>
</nav>