<div id="modal-place" class="modal">
    <div class="modal-content">
        <h4 class="title">Where do you want to do this?</h4>
        <div class="pop-place">
            <div class="col s12 m8">
                <input type="text" placeholder="Enter Business Name" ng-model="business_name" id="business_name" style="max-width: 500px"/>
            </div>
            <div class="col s12 m4">
                <span class="col s12">
                    <input class="with-gap" ng-model="sort" id="sort00" value="highest_rate" type="radio" />
                    <label for="sort00">Sort by rating</label>
                </span>
                <span class="col s12">
                    <input class="with-gap" ng-model="sort" id="sort01" value="distance" type="radio" />
                    <label for="sort01">Sort by distance</label>
                </span>
            </div>
            <ul class="best-places">
                <li class="row" ng-repeat="place in places">
                    <label>
                        <div class="info">
                            <h3 class="title" ng-click="selectBusiness($index)"><a>{{ place.name }}</a></h3>
                            <address style="font-size: 12px;">
                                {{ place.location.display_address }}
                            </address>
                            <img ng-src="{{ place.rating_url }}" id="rating_image_{{$index}}" alt="">
                            <!--<stars-rating rating="{{ place.rating }}"></stars-rating>-->
                            <div class="tooltip-pleaces">
                                <i class="fa fa-caret-down arrow"></i>
                                <a class="thumb"><img ng-src="{{ place.image_url }}" alt=""></a>
                                <div class="cont-data">
                                    <h3 class="title"><a target="_blank" href="{{ place.url }}">{{ place.name }}</a></h3>
                                    <img ng-src="{{ place.rating_url }}" alt="">
                                    <span class="str-list">{{ place.categories[0][0] ? place.categories[0][0] : '' }} ({{ place.display_phone}})</span>
                                    <address ng-if="distance_unit == 'meter'">
                                        {{ place.distance | number:0}} meters from here
                                    </address>
                                    <address ng-if="distance_unit == 'foot'">
                                        {{ convertMetersToFeet(place.distance) | number:0 }} feet from here
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="check-area">
                            <input class="with-gap" ng-model="$parent.business" value="{{place}}" name="business" id="filled-in-box-{{$index}}" type="radio" />
                            <!--<input type="checkbox" class="filled-in" id="filled-in-box-{{$index}}" ng-model="place.selected" />-->
                            <label for="filled-in-box-{{$index}}"></label>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="row" ng-show="places.length == 0" style="font-size: 14px; font-style: italic">
                 No matching place in the search area
            </div>
        </div>
        <a class="modal-close icon-close"><i class="fa fa-close"></i></a>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn grey" ng-click="cancel()">Close</a>
        <a class="modal-action modal-close waves-effect waves-light btn red" ng-click="confirm()">Add done</a>
    </div>
</div>