<div id="modal-place" class="modal">
    <div class="modal-content">
        <h4 class="title">Where do you want to do this?</h4>
        <div class="pop-place">
            <div class="row">
                <input type="text" placeholder="Enter Business Name" ng-model="business_name" ng-keyup="showPlaceSuggestion()" style="max-width: 500px"/>
            </div>
            <ul class="best-places">
                <li class="row" ng-repeat="place in places">
                    <label>
                        <div class="info">
                            <h3 class="title"><a href="{{ place.url }}">{{ place.name }}</a></h3>
                            <stars-rating rating="{{ place.rating }}"></stars-rating>
                        </div>
                        <div class="check-area">
                            <input class="with-gap" ng-model="$parent.business" value="{{place}}" name="business" id="filled-in-box-{{$index}}" type="radio" />
                            <!--<input type="checkbox" class="filled-in" id="filled-in-box-{{$index}}" ng-model="place.selected" />-->
                            <label for="filled-in-box-{{$index}}"></label>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="row" ng-show="places.length == 0" style="font-size: 14px; font-style: italic">
                 No matching place in the search area
            </div>
        </div>
        <a class="modal-close icon-close"><i class="fa fa-close"></i></a>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn grey" ng-click="cancel()">Close</a>
        <a class="modal-action modal-close waves-effect waves-light btn red" ng-click="confirm()">Add done</a>
    </div>
</div>