<div class="modal">
    <div class="modal-content">
        <div class="pop-user-detail">
            <div class="user">
                <div class="thumb"><img ng-src="{{ userInfo.user.getProfileImageURL() }}" alt=""></div>
                <p><b>{{ userInfo.user.user.name }}</b></p>
                <p class="subtext">Location: {{ userInfo.user.getLocationName() }}</p>
                <span class="cfrmed"><i class="icon"></i>Confirmed</span>
                <span class="not-cfrm"><i class="icon"></i>Not Confirmed</span>
            </div>
            <div class="choose-info">
                <p>Places?</p>
                <div class="box-white">
                    <ul class="choose-list">
                        <li ng-repeat="place in userInfo.where">{{ place.name }}</li>
                    </ul>
                </div>
                <p>Times?</p>
                <div class="box-white">
                    <ul class="choose-list">
                        <li ng-repeat="time in userInfo.when">{{ time.whenFormatted }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#none" class="modal-close icon-close"><i class="material-icons">close</i></a>
    </div>
    <div class="modal-footer">
        <a href="#none" class="modal-close waves-effect waves-light btn grey" ng-click="close()">Close</a>
    </div>
</div>