<div id="modal-place" class="modal">
    <div class="modal-content">
        <h4 class="title">Where do you want to do this?</h4>
        <div class="pop-place">
            <div class="select-area row" style="margin: 0 -15px;">
                <div class="col s12">
                    <span class="col s12 m3">Search by name</span>
                    <div class="col s12 m9"><input type="text" placeholder="Enter Business Name" ng-model="business_name" id="business_name" style="max-width: 500px"/></div>
                </div>
                <div class="col s12">
                    <span class="col s12 m3">Search by category:</span>
                    <div class="col s12 m3" style="min-width: 180px; margin-right: 10px;">
                        <select class="select-jq browser-default" style="width: auto" ng-model="term" ng-change="changeCategory()">
                            <option value="{{ item.id }}" class="{{ item.id }}" ng-repeat="item in terms" ng-selected="item.id == term">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="left sort">
                        <span>
                            <input class="with-gap" ng-model="sort" id="sort00" value="highest_rate" type="radio" />
                            <label for="sort00">Sort by rating</label>
                        </span>
                        <span>
                            <input class="with-gap" ng-model="sort" id="sort01" value="distance" type="radio" />
                            <label for="sort01">Sort by distance</label>
                        </span>
                    </div>
                </div>
            </div>
            <ul class="best-places">
                <li class="row" ng-repeat="place in places">
                    <div class="info" ng-click="selectBusiness($index)">
                        <h3 class="title"><a>{{ place.name }}</a></h3>
                        <address>
                            {{ place.location.display_address }}
                        </address>
                        <img ng-src="{{ place.rating_url }}" alt="">
                        <!--<stars-rating rating="{{ place.rating }}"></stars-rating>-->
                        <div class="tooltip-pleaces">
                            <i class="fa fa-caret-down arrow"></i>
                            <a class="thumb"><img ng-src="{{ place.image_url }}" alt=""></a>
                            <div class="cont-data">
                                <h3 class="title"><a target="_blank" href="{{ place.url }}">{{ place.name }}</a></h3>
                                <img ng-src="{{ place.rating_url }}" alt="">
                                <span class="str-list">{{ place.categories[0][0] ? place.categories[0][0] : '' }}</span>
                                <!--<span class="str-list">Eastern Market</span>-->
                                <address>
                                    {{ place.distance | number:0}} meters from here
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="check-area">
                        <input type="checkbox" class="filled-in" id="filled-in-box-{{$index}}" ng-model="place.selected" />
                        <label for="filled-in-box-{{$index}}"></label>
                    </div>
                </li>
            </ul>
        </div>
        <a class="modal-close icon-close"><i class="fa fa-close"></i></a>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn grey" ng-click="cancel()">Close</a>
        <a class="modal-action modal-close waves-effect waves-light btn red" ng-click="confirm()">Add done</a>
    </div>
</div>