/* Basic */
hr {
  border-bottom: solid 1px #dddddd;
}

blockquote {
  border-left: solid 4px #dddddd;
}

code {
  border: solid 1px #dddddd;
}

/* Section/Article */
header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
  border-bottom: solid 1px #dddddd;
}

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  border: solid 1px #dddddd;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 2.75em;
}

input[type="checkbox"],
input[type="radio"] {
  font-size: 3em;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  display: none;
}

.select-wrapper:before {
  color: #dddddd;
}

/* List */
ul.alt li {
  border-top: solid 1px #dddddd;
}
ul.icons-grid li {
  border-top: solid 1px #dddddd;
}

/* Table */
table tbody tr {
  border: solid 1px #dddddd;
  border-left: 0;
  border-right: 0;
}
table thead {
  border-bottom: solid 2px #dddddd;
}
table tfoot {
  border-top: solid 2px #dddddd;
}
table.alt tbody tr td {
  border: solid 1px #dddddd;
}

/* Button */
input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
  border: solid 1px #dddddd;
}

/* Wrapper */
.wrapper.style1:before {
  background-color: #dddddd;
}
.wrapper.style2 {
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc");
}

/* Header */
#header {
  border-bottom: solid 1px #dddddd;
}
#header nav > ul > li .button {
  border-color: #dddddd;
}
#header.alt nav a {
  color: white;
}

.dropotron {
  border: solid 1px #dddddd;
}
.dropotron > li {
  border-top: solid 1px #dddddd;
}
.dropotron.level-0 {
  margin-top: 0;
}
.dropotron.level-0:before {
  display: none;
}

/* Banner */
#banner {
  background-image: url("../../images/banner.jpg");
  background-size: cover;
  -ms-behavior: url("css/ie/backgroundsize.min.htc");
}
